@font-face {
    font-family: Bianzhidai;
    src: url(fonts/bianzhidai-Base.otf);
}

@font-face {
    font-family: Ayuthaya;
    src: url(fonts/Ayuthaya.ttf);
}


body{
    margin: 0;
    padding: 0;
    background-color: #d4cec8;
}

.cover{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 390px;
    height: 560px;
    background-color: oldlace;
    transform-style: preserve-3d;
    transform: translate(-50%,-50%) perspective(2000px);
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.1), 0 20px 100px rgba(0, 0, 0, 0.4);
    transition: 2s;
}

.cover:hover {
    transform: translate(-50%,-50%) perspective(2000px) rotate(-8deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.1), 0 10px 100px rgba(0, 0, 0, 0.4);
}

.cover:before {
    content: '';
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    height: 7px;
    background-color: #3c2e2b;
    transform-origin: bottom;
    transform: skewX(-45deg);
}

.cover:after {
    content: '';
    position: absolute;
    top: 0;
    right: -7px;
    width: 7px;
    height: 100%;
    background-color: rgb(60, 46, 43, 0.5);
    transform-origin: left;
    transform: skewY(-45deg);
}

.cover .img-container {
    width: 390px;
    height: 560px;
    position: relative;
    transform-origin: left;
    transition: 2s cubic-bezier(.36,1.76,.86,.29);
    z-index: 1;
}

.cover img {
    width: 390px;
    height: 560px;
    user-select: none;
    transition: 2s;
}

.cover:hover .img-container{
    transform: rotateY(-135deg);
}

.cover:hover {
    left: 59%;
    top: 45%;
    transition: 2s;
}

.cover .content {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: -1;
}

h1 {
    text-align: center;
    color: #3c2e2b;
    font-family: "Bianzhidai";
    font-size: 30pt;
    line-height: 30pt;
    padding: 20px 0;
    padding: 45px 0;
}

.text {
    width: 390px;
    height: 360px;
}

p {
    font-size: 7.5pt;
    line-height: 12pt;
    padding: 0 28px;
    color: #3c2e2b;
    font-family: "Ayuthaya", sans-serif;
    font-style: normal;
    text-align: left;
    user-select: none;
    word-spacing: 0.2px;
}

.next-page {
    font-size: 12pt;
    line-height: 12pt;
    padding: 0 28px;
    color: #3c2e2b;
    font-family: "Ayuthaya", sans-serif;
    font-style: normal;
    text-align: right;
    user-select: none;
    word-spacing: 0.2px;
}

.next-page a{
    transition: 1s;
}

.next-page a:hover{
    font-size: 18pt;
    transition: 1s;
}

details span {
    font-family: "Bianzhidai";
    font-size: 10pt;
}

h2 {
    text-align: center;
    color: #3c2e2b;
    font-family: "Bianzhidai";
    font-size: 30pt;
    line-height: 30pt;
    margin-top: 6px;
}

table, .content, .table-container {
    width: 390px;
    height: 560px;
}

table, tr, th {
    border: blue 0px solid;
}

tr:first-child {
    height: 130px;
}

tr:nth-child(2) {
    height: 360px;
}

.scroll {
    height: 350px;
    width: 390px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

tr:last-child {
    height: 70px;
    vertical-align: middle;
}

.button {
    width: 10vh;
    height: 10vh;
    position: relative;
    left: calc(5vw - 5vh);
    align-items: center;
    border: 2.5px dotted #3c2e2b;
    background-color: oldlace;
}

.button:hover {
    box-shadow: 0.5vh -0.5vh #3c2e2b;
}

.button img {
    height: 10vh;
}

#question-mark {
    background-image: url('images/question.jpg');
    background-repeat: no-repeat;
    height: 10vh;
    width: 10vh;
    background-size: cover;
}

#question-mark:hover {
    background-image: url('question-mark/images/favicon.jpg');
    background-repeat: no-repeat;
    height: 10vh;
    width: 10vh;
}

.close {
    top: calc(50vh - 44vh);
    left: 0vw;
    width: 10vw;
    height: 88vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0px solid black;
}

.nav {
    top: calc(50vh - 44vh);
    left: calc(90vw - 0.5vh);
    width: 10vw;
    height: 88vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0px solid black;
}

details > summary {
    list-style-type: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

details p{
    top: 12vh;
    left: 0.5vw;
    width: 30vw;
    position: absolute;
}

.list ul {
    font-family: "Bianzhidai";
    font-size: 12pt;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list li {
    margin-bottom: 39px;
    line-height: 10pt;
    transition: 0.8s;
    display: inline;
}

.list li:hover {
    font-size: 28pt;
    transition: 0.8s;
    cursor: pointer;
}

.number {
    color: oldlace;
    opacity: 0;
    font-family: "Ayuthaya", sans-serif;
    font-size: 3pt;
}

.list li:hover .number {
    line-height: 9pt;
    font-family: "Ayuthaya", sans-serif;
    font-size: 9pt;
    position: relative;
    color: #3c2e2b;
    opacity: 1;
}

.list li:nth-child(1):hover {
    color: firebrick;
}

.list li:nth-child(1):hover .number{
    color: firebrick;
    transition: 0.5s;
}

.list li:nth-child(2):hover {
    color: #ea991b;
}

.list li:nth-child(2):hover .number{
    color: #ea991b;
    transition: 0.5s;
}

.list li:nth-child(3):hover {
    color: #188f71;
}

.list li:nth-child(3):hover .number{
    color: #188f71;
    transition: 0.5s;
}

.list li:nth-child(4):hover {
    color: #7f5ba8;
}

.list li:nth-child(4):hover .number{
    color: #7f5ba8;
    transition: 0.5s;
}

.list li:nth-child(5):hover {
    color: #213a68;
}

.list li:nth-child(5):hover .number{
    color: #213a68;
    transition: 0.5s;
}