@font-face {
    font-family: Bianzhidai;
    src: url(fonts/bianzhidai-Base.otf);
}

@font-face {
    font-family: Ayuthaya;
    src: url(fonts/Ayuthaya.ttf);
}


body{
    margin: 0;
    padding: 0;
    background-color: #e9f3e2;
}

.cover{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 390px;
    height: 560px;
    background-color: oldlace;
    transform-style: preserve-3d;
    transform: translate(-50%,-50%) perspective(2000px);
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.1), 0 20px 100px rgba(0, 0, 0, 0.4);
    transition: 2s;
}

.cover:hover {
    transform: translate(-50%,-50%) perspective(2000px) rotate(-8deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.1), 0 10px 100px rgba(0, 0, 0, 0.4);
}

.cover:before {
    content: '';
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    height: 7px;
    background-color: #188f71;
    transform-origin: bottom;
    transform: skewX(-45deg);
}

.cover:after {
    content: '';
    position: absolute;
    top: 0;
    right: -7px;
    width: 7px;
    height: 100%;
    background-color: rgb(61, 108, 96, 0.5);
    transform-origin: left;
    transform: skewY(-45deg);
}

.cover .img-container {
    width: 390px;
    height: 560px;
    position: relative;
    transform-origin: left;
    transition: 2s cubic-bezier(.36,1.76,.86,.29);
    z-index: 1;
}

.cover img {
    width: 390px;
    height: 560px;
    user-select: none;
    transition: 2s;
}

.cover:hover .img-container{
    transform: rotateY(-135deg);
}

.cover:hover {
    left: 59%;
    top: 45%;
    transition: 2s;
}

.cover .content {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: -1;
}

h1 {
    text-align: center;
    color: #188f71;
    font-family: "Bianzhidai";
    font-size: 30pt;
    line-height: 30pt;
    padding: 45px 0;
}

.text {
    width: 390px;
    height: 360px;
}

p {
    font-size: 7.5pt;
    line-height: 12pt;
    padding: 0 28px;
    color: #188f71;
    font-family: "Ayuthaya", sans-serif;
    font-style: normal;
    text-align: left;
    user-select: none;
    word-spacing: 0.2px;
}

span {
    font-family: "Bianzhidai";
    font-size: 9pt;
    transition: 1s;
}

span:hover {
    font-size: 30pt;
    line-height: 30pt;
    transition: 1s;
}

.next-page {
    font-size: 12pt;
    line-height: 12pt;
    padding: 0 28px;
    color: #188f71;
    font-family: "Ayuthaya", sans-serif;
    font-style: normal;
    text-align: right;
    user-select: none;
    word-spacing: 0.2px;
}

.next-page a{
    transition: 1s;
}

.next-page a:hover{
    font-size: 18pt;
    transition: 1s;
}

h2 {
    text-align: center;
    color: #188f71;
    font-family: "Bianzhidai";
    font-size: 30pt;
    line-height: 30pt;
    margin-top: 6px;
}

table, .content, .table-container {
    width: 390px;
    height: 560px;
}

table, tr, th {
    border: blue 0px solid;
}

tr:first-child {
    height: 130px;
}

tr:nth-child(2) {
    height: 360px;
}

.scroll {
    height: 350px;
    width: 390px;
    overflow-y: scroll;
}

tr:last-child {
    height: 70px;
    vertical-align: middle;
}

.button,
.current {
    width: 10vh;
    height: 10vh;
    position: relative;
    left: calc(5vw - 5vh);
    align-items: center;
    border: 2.5px dotted #188f71;
    background-color: oldlace;
}

.current {
    box-shadow: 0.5vh -0.5vh #188f71;
}

.button:hover {
    box-shadow: 0.5vh -0.5vh #188f71;
}

.button img {
    height: 10vh;
}

.close {
    top: calc(50vh - 44vh);
    left: 0vw;
    width: 10vw;
    height: 88vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0px solid black;
}

.nav {
    top: calc(50vh - 44vh);
    left: calc(90vw - 0.5vh);
    width: 10vw;
    height: 88vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0px solid black;
}